@import "_vars"
@import "_nav"


::selection
  background: $powerley-orange
  color: white


*
  box-sizing: border-box
  margin: 0

  &:before, &:after
    box-sizing: border-box

body
  margin: 0
  font:
    family: "brandon-grotesque", brandon-grotesque, sans-serif
    size: 16px
  color: white
  &.fixed
    overflow: hidden

.container
  background:
    image: $dark-bg, url(http://www.powerley.com/media/1207/manoj-office-hero.png)
    size: cover
    position: center
  position: absolute
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

header
  position: relative
  min-height: 60vh
  max-height: 100vh
  background: $powerley-blue
  transform: scale(1)
  overflow: hidden
  @media (max-width: 800px)
    height: 85vh

  h1
    font-size: 4em
    text:
      transform: uppercase
      align: center
#about
  background: #252b33
  height: 70em
  padding: 5em 0
  display: flex
  justify-content: center
  align-items: center
  font-family: "open-sans"
  flex-direction: column
  text-align: center

  > *
    margin: 20px 0

  a.btn
    // border: 1px solid #f36
    border: 1px solid $powerley-green
    color: #f36
    font-size: 15px
    font-family: "brandon-grotesque", brandon-grotesque, sans-serif
    letter-spacing: .125em
    font-weight: 700
    padding: 20px 40px
    border-radius: 5px
    color: #fff
    line-height: 1em
    font-weight: 700
    text-transform: uppercase
    transition: background .3s
    &:hover
      // background: #f36
      background: $powerley-green



a
  color: $powerley-green
  text-decoration: none
  transition: 300ms all ease-in-out
  &:hover
    color: $powerley-orange
