nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  height: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: 200ms all ease-in;
  transition: 200ms all ease-in; }
  nav .logo {
    position: absolute;
    top: 0;
    left: 0; }
    nav .logo a .powerley-logo {
      width: 150px;
      height: 5em;
      background-image: url(http://powerley.com/media/1056/powerley-logo-2x.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-left: 15px; }
  @media (min-width: 800px) {
    nav .links {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media (max-width: 800px) {
    nav .links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: absolute;
      top: -100vh;
      -webkit-transition: 250ms all ease-in;
      transition: 250ms all ease-in;
      width: 100vw;
      left: 0; } }
  nav .links a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    height: 39px;
    line-height: 39px;
    padding: 0px 15px;
    margin: 0 10px;
    letter-spacing: 1px;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out; }
    @media (max-width: 800px) {
      nav .links a {
        font-size: 20px; } }
    nav .links a:hover {
      color: #1eb273; }
  nav .hammy-container {
    position: absolute;
    top: 10px;
    right: 0;
    height: 5em; }
    @media (min-width: 800px) {
      nav .hammy-container {
        display: none; } }
  nav.scroll {
    background: #324354;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
    nav.scroll .hammy-container {
      top: 13px; }
  nav.open {
    background: #1f2a34;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    nav.open .links {
      top: 5em; }

::-moz-selection {
  background: #FC6C2B;
  color: white; }

::selection {
  background: #FC6C2B;
  color: white; }

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0; }

body {
  margin: 0;
  font-family: "brandon-grotesque", brandon-grotesque, sans-serif;
  font-size: 16px;
  color: white; }
  body.fixed {
    overflow: hidden; }

header {
  position: relative;
  min-height: 60vh;
  width: 100vw;
  background: #324354;
  overflow: hidden; }
  @media (max-width: 800px) {
    header {
      min-height: 85vh; } }
  header .header-container {
    width: 100vw;
    min-height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 800px) {
      header .header-container {
        min-height: 85vh; } }
  header .bg {
    position: absolute;
    top: 0;
    left: -5%;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 110%; }
    header .bg .img {
      background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../manoj-office-hero.png");
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../manoj-office-hero.png");
      background-position: center;
      background-size: cover;
      height: 110%;
      width: 110%;
      left: -10%;
      top: 0; }
  header .header-content {
    width: 90%;
    max-width: 700px;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -350px; }
    @media (max-width: 800px) {
      header .header-content {
        width: 100%;
        bottom: 0;
        left: 0;
        margin-left: 0; } }
    header .header-content h1 {
      font-size: 4em;
      text-transform: uppercase;
      text-align: center;
      top: 50%;
      margin-top: -50px;
      position: absolute;
      width: 100%; }
      @media (max-width: 360px) {
        header .header-content h1 {
          font-size: 3em; } }
      @media (max-width: 800px) {
        header .header-content h1 {
          position: static;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 100%;
          top: 0;
          margin: 0; } }

#about {
  background: #252b33;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "open-sans";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }
  #about > * {
    margin: 20px 0; }
  #about a.btn {
    border: 1px solid #1eb273;
    color: #f36;
    font-size: 15px;
    font-family: "brandon-grotesque", brandon-grotesque, sans-serif;
    letter-spacing: .125em;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 5px;
    color: #fff;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: background .3s;
    transition: background .3s; }
    #about a.btn:hover {
      background: #1eb273; }

a {
  color: #1eb273;
  text-decoration: none;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out; }
  a:hover {
    color: #FC6C2B; }
/*# sourceMappingURL=style.css.map */