@import "_vars"
@import "_nav"
@import "bourbon"

::selection
  background: $powerley-orange
  color: white


*
  box-sizing: border-box
  margin: 0

  &:before, &:after
    box-sizing: border-box

body
  margin: 0
  font:
    family: "brandon-grotesque", brandon-grotesque, sans-serif
    size: 16px
  color: white
  &.fixed
    overflow: hidden

header
  position: relative
  min-height: 60vh
  width: 100vw
  background: $powerley-blue
  overflow: hidden
  @media (max-width: 800px)
    height: 85vh

  .bg
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    +size(100%)
    .img
      background:
        image: $dark-bg, url(http://www.powerley.com/media/1207/manoj-office-hero.png)
        position: center
        size: cover
      height: 110%
      width: 110%
      left: -10%
      top: 0

  .header-content
    width: 90%
    max-width: 700px
    height: 100%
    position: absolute
    transform: translate(50%, -10%)
    @media (max-width: 800px)
      transform: translate(0%, 0%)
      position: static
      width: 100%
      display: flex
      justify-content: center
      align-items: center
    h1
      font-size: 4em
      text:
        transform: uppercase
        align: center
      top: 50%
      margin-top: -50px
      position: absolute
      width: 100%
      @media (max-width: 800px)
        position: static
#about
  background: #252b33
  height: 70em
  padding: 5em 0
  display: flex
  justify-content: center
  align-items: center
  font-family: "open-sans"
  flex-direction: column
  text-align: center

  > *
    margin: 20px 0

  a.btn
    // border: 1px solid #f36
    border: 1px solid $powerley-green
    color: #f36
    font-size: 15px
    font-family: "brandon-grotesque", brandon-grotesque, sans-serif
    letter-spacing: .125em
    font-weight: 700
    padding: 20px 40px
    border-radius: 5px
    color: #fff
    line-height: 1em
    font-weight: 700
    text-transform: uppercase
    transition: background .3s
    &:hover
      // background: #f36
      background: $powerley-green



a
  color: $powerley-green
  text-decoration: none
  transition: 300ms all ease-in-out
  &:hover
    color: $powerley-orange
