* {
  box-sizing: border-box;
  margin: 0; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  margin: 0;
  font-family: "brandon-grotesque", brandon-grotesque, sans-serif;
  font-size: 16px;
  color: white; }
  body.fixed {
    overflow: hidden; }

.container {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(http://www.powerley.com/media/1207/manoj-office-hero.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5em; }
  @media (max-width: 800px) {
    nav .nav-link-container {
      top: -100vh;
      position: relative; }
    nav.open {
      position: absolute;
      height: 100vh;
      background: #324354; }
      nav.open .nav-link-container {
        display: flex;
        flex-direction: column;
        top: 0;
        position: relative;
        justify-content: center;
        width: 100vw;
        left: 0;
        height: 100vh; }
        nav.open .nav-link-container a {
          font-size: 2em;
          margin: 15px 0 15px 20px; } }
  nav .hammy-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    margin: calc(5em - 70px) 0; }
    nav .hammy-container .hamburger-inner,
    nav .hammy-container .hamburger-inner::before,
    nav .hammy-container .hamburger-inner::after {
      background: white; }
    @media (min-width: 801px) {
      nav .hammy-container {
        display: none; } }
  nav.scroll {
    background: #324354;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15); }
  nav .nav-link-container a {
    color: white;
    transition: all .3s ease-in-out;
    margin: 0 10px;
    text-transform: uppercase;
    text-decoration: none; }
    nav .nav-link-container a:last-of-type {
      margin-right: 60px; }
    nav .nav-link-container a:hover, nav .nav-link-container a.active {
      color: #1eb273; }

header {
  position: relative;
  min-height: 60vh;
  max-height: 100vh;
  background: #324354;
  transform: scale(1);
  overflow: hidden; }
  @media (max-width: 800px) {
    header {
      height: 85vh; } }
  header h1 {
    font-size: 4em;
    text-transform: uppercase;
    text-align: center; }

#about {
  background: #252b33;
  height: 70em;
  padding: 5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "open-sans";
  flex-direction: column; }
  #about > * {
    margin: 20px 0; }
  #about a.btn {
    border: 1px solid #1eb273;
    color: #f36;
    font-size: 15px;
    font-family: "brandon-grotesque", brandon-grotesque, sans-serif;
    letter-spacing: .125em;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 5px;
    color: #fff;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    transition: background .3s; }
    #about a.btn:hover {
      background: #1eb273; }

a {
  color: #1eb273;
  text-decoration: none;
  transition: 300ms all ease-in-out; }
  a:hover {
    color: #FC6C2B; }

/*# sourceMappingURL=style.css.map */