doctype html
html(lang="en")
  head
    title Header Fade/Zoom
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="description")
    meta(name="keywords", content="keywords")
    meta(name="author", content="Logan McAnsh")
    meta(name="theme-color", content="######")
    //- link(rel="shortcut icon" href="img/favicon.ico")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/hamburgers.css")
    // Apple Touch Icons
    //- link(rel="shortcut icon" href="assets/favicon/png/favicon-32.png" sizes="32x32")
    //- link(rel="apple-touch-icon-precomposed" sizes="228x228" href="assets/favicon/png/favicon-228.png")
    //- link(rel="apple-touch-icon-precomposed" sizes="195x195" href="assets/favicon/png/favicon-195.png")
    //- link(rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/favicon/png/favicon-152.png")
    //- link(rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/favicon/png/favicon-144.png")
    //- link(rel="apple-touch-icon-precomposed" sizes="128x128" href="assets/favicon/png/favicon-128.png")
    //- link(rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/favicon/png/favicon-120.png")
    //- link(rel="apple-touch-icon-precomposed" sizes="96x96" href="assets/favicon/png/favicon-96.png")
    //- link(rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/favicon/png/favicon-72.png")
    //- link(rel="apple-touch-icon-precomposed" href="assets/favicon/png/favicon-57.png")
    // Twitter Card
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@logansmcansh")
    meta(name="twitter:title" content="Logan McAnsh")
    meta(name="twitter:description" content="Logan McAnsh")
    meta(name="twitter:image" content="SOME URL HERE")
    
    //- typekit
    script(src="https://use.typekit.net/tru7kee.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
    
    script(src="http://s.codepen.io/assets/libs/modernizr.js")
    
  body
    nav
      a(href="") Platform
      a(href="") Implementation
      a(href="") About
      a(href="") Resources
        
    nav.mobile
      .hammy-container
        button.hamburger.hamburger--3dy(type="button")
          span.hamburger-box
            span.hamburger-inner
      .nav-link-container
        a(href="") Platform
        a(href="") Implementation
        a(href="") About
        a(href="") Resources
    header
      .bg()
        .img
      .header-content
        h1 Header Zoom and Fade on Scroll
    section#about
      h3 This is a remade version of 
        a(href="https://blog.invisionapp.com") Invision's
        |  header that zooms and fades on scroll.
      
      p It's pretty rad.
      
      a.btn(href="https://github.com/mcansh/laughing-broccoli") View the repo


    script(src="js/jquery-3.0.0.min.js")
    script(src="js/myfunctions.min.js")
    
