doctype html
html(lang="en")
  head
    title Header Fade/Zoom
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="description")
    meta(name="keywords", content="keywords")
    meta(name="author", content="Logan McAnsh")
    meta(name="theme-color", content="#324354")
    //- link(rel="shortcut icon" href="img/favicon.ico")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/hamburgers.css")
    // Twitter Card
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@logansmcansh")
    meta(name="twitter:title" content="Logan McAnsh")
    meta(name="twitter:description" content="Logan McAnsh")
    meta(name="twitter:image" content="SOME URL HERE")
    
    //- typekit
    script(src="https://use.typekit.net/tru7kee.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
    
  body
    nav
      a(href="") Platform
      a(href="") Implementation
      a(href="") About
      a(href="") Resources
        
    nav.mobile
      .hammy-container
        button.hamburger.hamburger--3dy(type="button")
          span.hamburger-box
            span.hamburger-inner
      .nav-link-container
        a(href="") Platform
        a(href="") Implementation
        a(href="") About
        a(href="") Resources
    header
      .bg
        .img
      .header-content
        h1 Header Zoom and Fade on Scroll
    section#about
      h3 This is a remade version of 
        a(href="https://blog.invisionapp.com") Invision's
        |  header that zooms and fades on scroll.
      
      p It's pretty rad.
      
      a.btn(href="https://github.com/mcansh/header-fade-zoom") View the repo


    script(src="js/jquery-3.0.0.min.js")
    script(src="js/modernizr.min.js")
    script(src="js/myfunctions.min.js")
  
